body{
margin:0;
font-family:tahoma;
background:#0f0f0f;
color:#fff;
}

/* هدر */
header{
text-align:center;
padding:15px;
background:#1a1a1a;
}

.logo{
width:90px;
height:90px;
border-radius:50%;
background:#333;
object-fit:cover;
}

/* لِی‌اوت اصلی */
.layout{
display:flex;
height:calc(100vh - 140px);
}

/* ویدئو سمت چپ */
.videoBox{
width:40%;
background:#000;
}

.videoBox video{
width:100%;
height:100%;
object-fit:cover;
}

/* منو سمت راست */
.menuBox{
width:60%;
overflow:auto;
padding:10px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:10px;
}

/* کارت */
.card{
background:#1c1c1c;
border-radius:12px;
overflow:hidden;
}

.card img{
width:100%;
aspect-ratio:3/4;
object-fit:cover;
}

/* اطلاعات */
.info{
padding:8px;
background:#151515;
text-align:center;
}

.info p{
margin:0;
font-size:14px;
}

.info span{
display:block;
margin-top:5px;
color:#0f0;
font-weight:bold;
}

/* پنل */
.adminBtn{
position:fixed;
bottom:15px;
left:15px;
padding:10px;
background:#444;
border:none;
color:#fff;
border-radius:8px;
}

.panel{
position:fixed;
inset:0;
background:#000000ee;
display:none;
padding:20px;
}

input{
width:100%;
padding:8px;
margin:5px 0;
}
button{
padding:8px;
background:#444;
color:#fff;
border:none;
}
